<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="dashboard">
        <header>
            <p id="main-header">Cloud Storage Monitoring</p>
            <nav>
                <ul class="nav-list">
                    <li class="nav-item">
                      <a href="#">
                    </li>
                    <li class="nav-item">
                      <a href="/upload">Upload</a>
                    </li>
                    <li class="nav-item">
                      <a href="/list">Read</a>
                    </li>
                    <li class="nav-item">
                        <a href="/delete">Delete</a>
                    </li>
                    <li class="nav-item">
                        <a href="/monitor">Monitor</a>
                    </li>
                    <li class="nav-item">
                        <form action="/logout?_method=DELETE" method="POST">
                            <button class="btn-logout btn-primary" type="submit">Log Out</button>
                          </form>   
                    </li>
                  </ul>
            </nav>      
        </header>
        <main>
            <h1>Welcome, <%= name %></h1>
            
        </main>
    </div>
    <script src="/dashboard.js"></script>
</body>

</html>