<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>CMS</title>
</head>
<body>
    <!-- Start Landing Page -->

<div class="landing-page">
    <div class="container">
      <div class="header-area">
        <div class="logo">Cloud Storage <b>Monitoring</b></div>
        <ul class="links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><li class="register-btn"><a href="/register" >Sign Up</a></li></li>
          <li><li><a href="/login" >Sign In</a></li></li>
        </ul>
      </div>
      <div class="info">
        <h1>Store and Monitor Your Files</h1>
        <p>Store your data in the cloud and monitor anytime!</p>
        <button>Get Started For Free</button>
      </div>
      <div class="image">
        <img src="https://i.postimg.cc/65QxYYzh/001234.png">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  
  <!-- End Landing Page -->
</body>
</html>