<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/dashboard.css">
    <link rel="stylesheet" href="/upload.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <title>CMS | Upload</title>
</head>

<body>
    <div class="dashboard">
        <header>
            <p id="main-header">Cloud Storage Monitoring</p>
            <nav>
                <ul class="nav-list">
                    <li class="nav-item">
                      <a href="#">
                    </li>
                    <li class="nav-item">
                      <a href="/upload">Upload</a>
                    </li>
                    <li class="nav-item">
                      <a href="/list">Read</a>
                    </li>
                    <li class="nav-item">
                        <a href="/delete">Delete</a>
                    </li>
                    <li class="nav-item">
                        <a href="/monitor">Monitor</a>
                    </li>
                    <li class="nav-item">
                        <form action="/logout?_method=DELETE" method="POST">
                            <button class="btn-logout btn-primary" type="submit">Log Out</button>
                          </form>   
                    </li>
                  </ul>
            </nav>      
        </header>
        <main>
            <div class="upload-box">
                <form action="/uploadfile" method="POST" enctype="multipart/form-data">
                    <dl class="dropdown"> 
  
                        <dt>
                          <div class="hida">File Priority</div>    
                          <p class="multiSel"></p>  
                        </dt>
                      
                        <dd>
                            <div class="mutliSelect">
                                <input type="radio" name="priority" value="sensitive" />Sensitive
                                <input type="radio" name="priority" value="normal" checked/>Normal
                            </div>
                        </dd>
                    </dl>
                    <div class="upload-box">
                        <div class="file-upload">
                            <div class="file-select">
                              <div class="file-select-button" id="fileName">Choose File</div>
                              <div class="file-select-name" id="noFile">No file chosen...</div> 
                              <input type="file" name="file" id="chooseFile" name="file">
                            </div>
                          </div>
                    </div>
                    <button class="upload-btn" type="submit">Upload</button>
                </form>
            </div>
        </main>
    </div>
    <script src="/upload.js"></script>
</body>
</html>